{% block body %}

    {{ form_start(form_search) }}

    {{ form_row(form_search.q)}}



    <button type="submit" class="btn btn-primary w=100">Chercher </button>

    {{ form_end(form_search) }}

{% endblock %}
